{% include '../includes/header.html.twig' %}

<header id="offline">
    <div class='logo'>
        <div class='navigate' data-url='/'></div>
    </div>
    <div class='input'>
        <input type="hidden">
        <input class='blue navigate' data-url='/' type='submit' value='Retour'/>
    </div>
</header>

<div class='notFoundContent'>
    <div class="font"></div>
    <div class="message">
        <div class="code">
            <h1>Erreur {{ data.code }}</h1>
        </div>
        <div class="info">
            {{ data.message }}
        </div>
    </div>
    <div class="font"></div>
</div>


{% include '../includes/footer.html.twig' %}
