{% include '../includes/header_offline.html.twig' %}

<div class='notFoundContent'>
    <div class="font"></div>
    <div class="message">
        <div class="code">
            <h1>Erreur {{ data.code }}</h1>
        </div>
        <div class="info">
            {{ data.message }}
        </div>
    </div>
    <div class="font"></div>
</div>

{% include '../includes/footer.html.twig' %}
