
        <form method='POST' class='formNavigate' action='#'>
            <input type='hidden' name='date' value=''/>
            <input type='hidden' name='idUser' value=''/></form>
    </body>
</html>