<!DOCTYPE html>
<html>
    <head>
        <title>Titre</title>
        <link rel='icon' href='/images/logo/favicon-logo-only.ico' />
        <meta charset='UTF-8' />
        <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
        <script src='/javascripts/modules/jquery.min.js'></script>
        <script src='/javascripts/main/script.js'></script>
    </head>
    <body>

