<!DOCTYPE html>
<html>
    <head>
        <title>Titre</title>
        <script src="/javascripts/modules/jquery.min.js"></script>
        <script>$j = jQuery.noConflict()</script>
        <script src="/javascripts/main/script.js"></script>
    </head>
    <body>

