<!DOCTYPE html>
<html>
    <head>
        <title>ScrumOrganiz</title>
        <meta charset='UTF-8' />
        <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
        <script src='/javascripts/modules/jquery.min.js'></script>
        <script src='/javascripts/modules/jquery.validate.min.js'></script>
        <script src='/javascripts/modules/jquery-confirm.min.js'></script>
        <script src='/javascripts/main/script.js'></script>
    </head>
    <body>

    <header id="online">
        <div class="left">
            <div class='headOption project'>
                <div class='label navigate' data-url='/board'>Project</div>
                {#<div class='font addProject navigate' data-url='/newProject'></div>#}
                <div class='font addProject'></div>
            </div>
        </div>
        <div class='logo'>
            <div class='navigate' data-url='/board'></div>
        </div>
        <div class='right'>
            <div class='headOption setting'>
                <div class='label'>{{ user.pseudo }}<span class='pseudoSetting'></span></div>
            </div>
        </div>


        <div class='popinHeaderRight pseudo'>
            <div class='navigate' data-url='/setting'>
                Mon compte
             </div>
            <div class='startSection logout'>
                Déconnexion
            </div>
        </div>
    </header>




