.homeContent {
    text-align: center;
    margin: auto 0;

    .desktopApi {
        background-color: $color-corportate-two;
        color: $color-corportate-white;
        padding-bottom: 20px;

        div {
            button {
                display: block;
                height: 40px;
                margin-top: 20px;
                padding-right: 15px;

                &:before {
                    font-family: 'scrum-font';
                    content: $font-download;
                    padding: 10px;
                }

                span {
                    padding-right: 5px;
                }
            }
        }
    }
}

