.settingContent {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .confPassword {
        width: 40%;
        margin: 4% auto;

        h2 {
            font-size: 18px;
        }

        input {
            width: 250px;
            font-size: 20px;
        }
    }

    .divSetting {
        .left,
        .center,
        .right {
            display: inline-block;
            vertical-align: middle;
        }

        .center {
            width: 25%;
        }

        .left,
        .right {
            width: 20%;

            div {
                margin: auto;
                text-align: left;
                width: 90%;

                input[type=submit] {
                    display: block;
                    width: 50%;
                }

                input {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}