body {
    margin: 0;
    color: $color-corportate-dark;

    .navigate {
        cursor: pointer;
    }
}

button,
input[type='submit'] {
    display: inline-block;
    margin: auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 2px 5px black;
    height: 40px;
}

input {
    background: $input-default-color;
    border-radius: 4px;
    height: 35px;
}

input.gray {
    color: $input-gray-color;
    background-color: $input-gray-background;
    &:hover {
        background-color: $input-gray-background-over;
    }
}

input.green {
    color: $input-green-color;
    background-color: $input-green-background;
    &:hover {
        background-color: $input-green-background-over;
    }
}

button.orange,
input.orange {
    color: $color-corportate-white;
    background-color: $input-orange-background;
    &:hover {
        background-color: $input-orange-background-over;
    }
}
