button,
input {
    display: inline-block;
    margin: auto;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
}

input.gray:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
}

input.green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

input.green:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}