//colors
$color-corportate-one: #87ce00;
$color-corportate-two: #337ab7;
$color-corportate-tree: #f0ad4e;

$color-corportate-white: #ffffff;
$color-corportate-light: #dddddd;
$color-corportate-dark: #565656;

//font
$font-download: '\e9c7'