//colors
$color-corportate-one: #87ce00;
$color-corportate-two: #337ab7;


$color-corportate-white: #fff;
$color-corportate-lighter: #eee;
$color-corportate-light: #ddd;
$color-corportate-dark: #565656;
$color-corportate-darker: #000;


//INPUT
$input-default-color: #edeff0;

$input-gray-color: #000;
$input-gray-background: #eee;
$input-gray-background-over: #5bc0de;

$input-green-color: #fff;
$input-green-background: #5cb85c;
$input-green-background-over: #449d44;

$input-orange-background: #f0ad4e;
$input-orange-background-over: #ec971f;

//font
$font-download: '\e9c7'