@charset "UTF-8";
/* FONT */
/* COLORS */
/* ALERT */
/* INPUT */
/* GRAY */
/* GREEN */
/* BLUE */
/* ORANGE */
@font-face { font-family: 'scrum-font'; src: url("../fonts/scrum-font.eot"); src: url("../fonts/scrum-font.eot") format("embedded-opentype"), url("../fonts/scrum-font.ttf") format("truetype"), url("../fonts/scrum-font.woff") format("woff"), url("../fonts/scrum-font.svg") format("svg"); font-weight: normal; font-style: normal; }
body { margin: 0; color: #565656; }
body header { background-color: #eee; width: 100%; height: 94px; }
body header .logo, body header .input { display: inline-block; width: 49.5%; }
body header .logo img, body header .input img { width: 300px; vertical-align: middle; padding: 10px 20px; margin-top: -2px; }
body header .logo input, body header .input input { width: 20%; vertical-align: middle; }
body header .logo input:first-child, body header .input input:first-child { margin-right: 20px; font-weight: normal; }
body header .input { text-align: right; }
body .navigate { cursor: pointer; }

/* MSG INFO */
.msgInfo { width: 35%; margin: auto; height: 50px; line-height: 50px; border-radius: 7px; font-size: 20px; }

.msgInfoOk { color: #3C763D; background-color: #DFF0F8; border-color: #D6D9C6; box-shadow: 3px 2px 5px #000; }

.msgInfoNok { color: #A94442; background-color: #F2DDED; border-color: #EBCCD1; box-shadow: 3px 2px 5px #000; }

div.error { margin: 0px; padding: 0px; }

/* FORM */
button, input[type='button'], input[type='submit'] { display: inline-block; margin: auto; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; box-shadow: 3px 2px 5px #000; height: 40px; }
button:disabled, input[type='button']:disabled, input[type='submit']:disabled { opacity: 0.4; }

input { background: #edeff0; border-radius: 4px; height: 35px; }

input.gray { color: #000; background-color: #eee; }
input.gray:hover { background-color: #5bc0de; }

input.green { color: #fff; background-color: #5cb85c; }
input.green:hover { background-color: #449d44; }

input.blue { color: #fff; background-color: #337ab7; }
input.blue:hover { background-color: #286090; }

button.orange, input.orange { color: #fff; background-color: #f0ad4e; }
button.orange:hover, input.orange:hover { background-color: #ec971f; }

input:disabled { cursor: Not-Allowed; }

.homeContent { text-align: center; margin: auto 0; }
.homeContent .desktopApi { background-color: #337ab7; color: #fff; padding-bottom: 20px; }
.homeContent .desktopApi div button { display: block; height: 40px; margin-top: 20px; padding-right: 15px; }
.homeContent .desktopApi div button:before { font-family: 'scrum-font'; content: ""; padding: 10px; }
.homeContent .desktopApi div button span { padding-right: 5px; }

.signupcontent { width: 60%; text-align: center; margin: 0 auto; }
.signupcontent .msgInfo { display: inline-block; margin-top: 70px; margin-bottom: 10px; }
.signupcontent #divFormSignIn { display: inline-block; text-align: left; width: 35%; margin: auto; }
.signupcontent #divFormSignIn label, .signupcontent #divFormSignIn input { display: block; font-size: 20px; }
.signupcontent #divFormSignIn input { margin-bottom: 15px; width: 100%; }
.signupcontent #divFormSignIn input[type='submit'] { margin-top: 30px; }
.signupcontent #divFormSignIn label { color: black; }
.signupcontent .existAcount .link { text-decoration: underline; }

.loginContent { width: 60%; text-align: center; margin: 0 auto; }
.loginContent .msgInfo { display: inline-block; margin-top: 70px; margin-bottom: 10px; }
.loginContent #divFormLogin { display: inline-block; text-align: left; width: 35%; margin: auto; }
.loginContent #divFormLogin label, .loginContent #divFormLogin input { display: block; font-size: 20px; }
.loginContent #divFormLogin input { margin-bottom: 15px; width: 100%; }
.loginContent #divFormLogin input[type='submit'] { margin-top: 30px; }
.loginContent #divFormLogin label { color: black; }
.loginContent #divFormLogin label span { color: #565656; }
.loginContent .existAcount .link, .loginContent .forgotPwd .link { text-decoration: underline; }

.forgetContent { width: 60%; text-align: center; margin: 0 auto; }
.forgetContent .msgInfo { display: inline-block; margin-top: 70px; margin-bottom: 10px; }
.forgetContent #divFormForget { display: inline-block; text-align: left; width: 35%; margin: auto; }
.forgetContent #divFormForget label, .forgetContent #divFormForget input { display: block; font-size: 20px; }
.forgetContent #divFormForget input { margin-bottom: 15px; width: 100%; }
.forgetContent #divFormForget input[type='submit'] { margin-top: 30px; }
.forgetContent #divFormForget label { color: black; }
.forgetContent .existAcount .link { text-decoration: underline; }

.notFoundContent { background-color: #eee; width: 50%; margin: 10% auto 0 auto; text-align: left; padding: 2%; border-radius: 15%; box-shadow: 3px 2px 5px #000; }
.notFoundContent div.font, .notFoundContent div.message { display: inline-block; vertical-align: middle; }
.notFoundContent div.message { width: 59%; text-align: center; }
.notFoundContent div.message .info { font-size: 20px; }
.notFoundContent div.font { width: 20%; text-align: center; font-family: scrum-font; }
.notFoundContent div.font:before { content: ""; font-size: 200px; color: #DC143C; }

.changePwdContent { width: 60%; text-align: center; margin: 0 auto; }
.changePwdContent .msgInfo { display: inline-block; margin-top: 70px; margin-bottom: 10px; }
.changePwdContent #divFormChangePwd { display: inline-block; text-align: left; width: 35%; margin: auto; }
.changePwdContent #divFormChangePwd label, .changePwdContent #divFormChangePwd input { display: block; font-size: 20px; }
.changePwdContent #divFormChangePwd input { margin-bottom: 15px; width: 100%; }
.changePwdContent #divFormChangePwd input[type='button'] { margin-top: 30px; }
.changePwdContent #divFormChangePwd label { color: black; }
.changePwdContent .existAcount .link { text-decoration: underline; }
