{% include '../includes/header.html.twig' %}

<header id="online">
    <div class="left">
        <div>Projets</div>
    </div>
    <div class='logo'>
        <div class='navigate' data-url='/board'></div>
    </div>
    <div class='right'>
        <div class='headOption pseudo'>
            {{ user.pseudo }}
            <span></span>
        </div>
    </div>

    <div class='popinHeaderRight'>Test ! </div>
</header>

<div class="boardContent">
    <h1>Board !</h1>
</div>


{% include '../includes/footer.html.twig' %}
