{% include '../includes/header_offline.html.twig' %}

<div class='forgetContent'>
    <div class='msgInfo'>&nbsp;</div>

    <h1>Réinitialiser</h1>

    <div id='divFormForget'>
        <label for='pseudo'>Pseudo</label>
        <input type='text' name='pseudo' required placeholder='ex : pdurand' minlength='{{ conf.pseudo_min_length }}'/>

        <label for='email'>Email</label>
        <input type='email' name='email' required placeholder='ex : mon-mail@mail.fr'/>

        <input type='submit' value="Envoyer" class='green'/>
    </div>

    <div class='existAcount'>
        <span>Pas de compte ? </span>
        <span class='link navigate' data-url='/signup'>Inscrivez-vous</span>
    </div>
    <div class='existAcount'>
        <span>Vous avez déjà un compte ? </span>
        <span class='link navigate' data-url='/login'>Connectez-vous</span>
    </div>
</div>


{% include '../includes/footer.html.twig' %}
