{% include '../includes/header_offline.html.twig' %}

        <div class="homeContent">
            <div class='whatsScrum'>
                <h1>ScrumOrganiz</h1>
                <div>
                    C'est ...
                </div>
            </div>
            <div class='desktopApi'>
                <h1>Avez-vous l'application desktop ?</h1>
                <div>
                    Elle permet ...
                    <button class='downloadApi orange'><span>Télécharger</span></button>
                </div>
            </div>
        </div>


{% include '../includes/footer.html.twig' %}
