{% include '../includes/header.html.twig' %}

        <header>
            <div class='logo'>
                <img src="/images/logo/logo-horizontal.png"/>
            </div>
            <div class='input'>
                <input class='gray' type='submit' value='Se connecter'/>
                <input class='green' type='submit' value='Créer un compte'/>
            </div>
        </header>


{% include '../includes/footer.html.twig' %}
