{% include '../includes/header_offline.html.twig' %}

<div class='loginContent'>

    {% if data is defined %}
        <div class='msgInfo msgInfoNok'>{{ data.message }}</div>
    {% else %}
        <div class='msgInfo'>&nbsp;</div>
    {%  endif %}


    <h1>Connexion</h1>

    <div id='divFormLogin'>
        <label for='pseudo'>Pseudo</label>
        <input type='text' name='pseudo' required placeholder='ex : pdurand' minlength='{{ conf.pseudo_min_length }}'/>

        <label for='pwd'>Mot de passe</label>
        <input type='password' name='pwd' required placeholder='ex : *****' minlength='{{ conf.password_min_length }}'/>

        <input type='submit' value="Connexion" class='green'/>
    </div>

    <div class='existAcount'>
        <span>Pas de compte ? </span>
        <span class='link navigate' data-url='/signup'>Inscrivez-vous</span>
    </div>
    <div class='forgotPwd'>
        <span>Mot de passe oublié ? </span>
        <span class='link navigate' data-url='/forgetPwd'>Réinitialisez</span>
    </div>
</div>


{% include '../includes/footer.html.twig' %}
