{% include '../includes/header_offline.html.twig' %}

<div class='signupcontent'>
    <div class='msgInfo'>&nbsp;</div>

    <h1>Inscription</h1>

    <div id='divFormSignIn'>
        <label for='pseudo'>Pseudo</label>
        <input type='text' name='pseudo' required placeholder='ex : pdurand' minlength='{{ conf.pseudo_min_length }}'/>

        <label for='email'>E-mail</label>
        <input type='email' name='email' required placeholder='ex : mon-mail@mail.fr'/>

        <label for='pwd'>Mot de passe</label>
        <input type='password' name='pwd' required placeholder='ex : *****' minlength='{{ conf.password_min_length }}'/>

        <input type='submit' value="M'inscrire" class='green'/>
    </div>

    <div class='existAcount'>
        <span>Vous avez déjà un compte ? </span>
        <span class='link navigate' data-url='/login'>Connectez-vous</span>
    </div>
</div>

{% include '../includes/footer.html.twig' %}
